// One Style file because only little styling necessary

$primary_color: #40E0D0;
$primary_background:#f7f7f7; 
$secondary_background:#ffffff;
$logo_linear_color_1: #2a877e; 
$logo_linear_color_2: #2a877e;
$links_background: linear-gradient(to right, #2a877e 0%, #2a877e  51%, #3bc7b9 100%);

@mixin headerBackgroundPattern {
  background-color: #e1ebee;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2340e0d0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}





// .btn-grad {background-image: linear-gradient(to right, #4AC29A 0%, #BDFFF3  51%, #4AC29A  100%)}
// .btn-grad {
//    margin: 10px;
//    padding: 15px 45px;
//    text-align: center;
//    text-transform: uppercase;
//    transition: 0.5s;
//    background-size: 200% auto;
//    color: white;            
//    box-shadow: 0 0 20px #eee;
//    border-radius: 10px;
//    display: block;
//  }

//  .btn-grad:hover {
//    background-position: right center; /* change the direction of the change here */
//    color: #fff;
//    text-decoration: none;
//  }








* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  position: relative; height: auto; width: 100%;
  display: flex; flex-direction: column; justify-content: flex-start; align-items: center; 
  
  background: $primary_background;
  .header{
    
    width: 100%;
    
    @include headerBackgroundPattern;

    .logo{position: relative;}
    h1{
      font-size: 3em;
      font-family: 'Passions Conflict', cursive;
      background: $logo_linear_color_1;
      background: -webkit-linear-gradient(to right, $logo_linear_color_1 0%, $logo_linear_color_2 100%);
      background: -moz-linear-gradient(to right, $logo_linear_color_1 0%, $logo_linear_color_2 100%);
      background: linear-gradient(to right, $logo_linear_color_1 0%, $logo_linear_color_2 100%);
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .links{height: 30px;  display: flex; justify-content: center; align-items: center; }
    .links>a{
      background-image: $links_background;
      background-size: 200% auto;
      border-radius: 15px;
      padding: 8px 20px 8px 20px;
      border: 5px solid $links_background;

      font-size: 0.5em;
      font-weight: 900;
      text-decoration: none;
      color:#fff;
      margin-left: 0.5em;
      margin-right: 0.5em;

      transition: transform .4s ease-in-out;
      &:hover{transform: translateY(-8px); background-position: right center;}
    }
  }

  .SearchBar{
    position: relative;  width: 100%; 
    @include headerBackgroundPattern;
    display: flex; justify-content: center; align-items: center;
    
    .SearchBarInput{
      position:relative; z-index: 1; top: 5%; 
      height: 50px; 
      
      border-radius: 20px;
      // background: transparent;
      border: none; 
      // border-bottom: 1px solid grey;
      padding-left: 20px;
      &:focus{outline: none;}
      &::placeholder{font-weight: 900;color: #9dc9c6; font-size: 0.5em; transform: translateY(-20%) }
      font-size: 1.5em;
      color: #2a877e;
    }
    .SearchBarButton{
      position: absolute;
      background: transparent;
      border: none;
      z-index:1;
    }
  }
  .SearchResults{


    position: relative; height: auto; width: 100%; 
    .nothingmessage{position: absolute; font-size: 0.7em; width: 100%; color: grey; text-align: center; margin-top:2em;}
    
    padding-top: 3% ; padding-bottom: 3% ; 
    .wordsection{
      position: relative;height: auto;
      border-radius: 10px; padding: 2em; margin: 2em;
      background-color: $secondary_background;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%230800ff' fill-opacity='0.02' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");

      .numberOfSyllables{
        font-size: 1.7em;
        // font-style: italic;
        color: $primary_color;
      }
      .wordlist{
        margin-top: 1em;
        margin-bottom: 2em;
        
        text-align: left;
        .word{
          font-size: 0.9em;
          // font-style: italic;
          color: rgb(70, 70, 70);
        }
      }
    }
  }
}

.footer{
  position: absolute;
  font-size: 0.5em;
  font-weight: 400;
  bottom: 10px;
  color: grey;
}


@media only screen and (min-width: 750px) {
  .header{ text-align: center; }
  .links_mobile{position: absolute; visibility:hidden;}
  .SearchBar{
    min-height: 300px;
    .SearchBarInput{width : 60%;}
    .SearchBarButton{right: 21%;}
  }
  .SearchResults{
    min-height: calc(100vh - 455px); 
    display: grid; grid-template: auto / repeat(2, 1fr);
    padding-left:10%; padding-right:10%;
    .wordsection{
      .wordlist{display : grid; grid-template: auto / repeat(3, 1fr);}
    }
  }
}
/* Mobile */
@media only screen and (max-width: 750px) {
  .header{padding-left:5%; height: 100px; }
  .links>a{visibility: hidden; }
  .links_mobile{
    position: absolute; top:0; right:6%; height:100%;
    z-index: 1;
    display: flex; align-items: center;
    img{height: 25px; width: 25px;}
  }

  .nothingmessage{font-size: 0.3em;}
  .SearchBar{
    min-height: 150px;
    .SearchBarInput{
      width : 90%;
      &::placeholder{font-size: 0.3em;}
    }
    .SearchBarButton{right: 7%;}
  }
  .SearchResults{
    min-height: calc(100vh - 250px); 
    padding-left:0; padding-right:0;
    .wordsection{
      .numberOfSyllables{font-size: 1em;}
      .wordlist{display: grid; grid-template: auto / repeat(2, 1fr); font-size: 0.7em;}
    }
  }
}
@media only screen and (max-width: 600px) {

}